body 
{
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
    overflow-x: auto;
}
.text-container {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

.shadow-top, .shadow-bottom {
  position: absolute;
  height: 3px; /* Adjust the height of the shadow line as needed */
  background-color: #000; /* Shadow color */
  width: 100%;
}

.shadow-top {
  top: 0;
}

.shadow-bottom {
  bottom: 0;
}
.work h3
{
  margin-left: 20px;
}

.work {
   /* Background color of the text block */
  padding: 5px;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); /* Optional inner box shadow for the text block */
}




.icon img
{
    height: 80px;
}
.university
{
align-content: center;
text-align: center;
}
.info {
    height: 250px;
    width:250px;
    color: #17141d;
    font-weight: bolder;
    display: inline-block;
    border: 3px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;   
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
.info h3
{
    font-size: 25px;
}
.university h1
{
    color: grey;
    font-size: 25px;
}
.university h2
{
    font-size:40px;
}

.resume h1
{
    text-align: center;
    color: grey;
    font-size: 25px;
}
.resume h2
{
    text-align: center;
    font-size:40px;
}

.info2 img
{   
    height: 30px;
    
}
.container {
    display: flex;
  }
  
  .left-column {
    flex: 3;
    padding: 20px;
  }
  
  .right-column {
    flex: 7;
    text-align: justify;
    padding-right: 20px;
  }
  .right-column h3
  { 
    font-size: 30px;
  }
  .info2 {
    display: flex;
    align-items: center; /* Vertically center align the content within each info block */
    margin-bottom: 10px; /* Adjust the spacing between info blocks */
    height: 30px;
    width: 350px;
    color: #17141d;
    font-weight: bolder;
    border: 3px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin-left: 30px;
  }
  
  .info2 img {
    width: 30px; /* Adjust the image width as needed */
    margin-right: 10px; /* Add some spacing between the image and text */
  }
  
  .info2 span {
    vertical-align: middle;
    display: inline-block;
  }
  

.summary
{
    text-align: center;
}
.hidden {
    opacity: 0;
    transition: all 1.5s;
    transform: translateY(-10%);
    }
    .show
    {
    opacity: 1;
    transform: translateY(0);
    }
    
    .background {
          position: relative;
          background: url('image/2825710.png.gif') center/cover;
          height: 100vh; /* Adjust as needed */
          box-shadow: 0 0 010rem #000;
    
        }
    
        /* CSS for the black overlay */
        .background::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(23, 20, 29, 0.8); /* Adjust the alpha value for the desired opacity */
        }
    .navbar {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center; /* Center-align horizontally */
      align-items: center;
    }
    
    .navbar ul {
      display: flex;
      list-style-type: none; /* Remove bullet points */
    }
    
    .navbar li {
      margin: 0 10px; /* Adjust the margin as needed */
    }
    
    .navbar a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: 500;
    }
    
    .navbar a:hover {
      background-color: #ddd;
      color: black;
      border-radius: 10px;
    }
    
    
    .wrapper
    {
        position: relative;
          z-index: 1;
        margin-top: 200px;
        text-align: center;
      justify-content: center; /* Center-align horizontally */
      align-items: center; 
    }
    .wrapper .static-txt{
      color: #fff;
      font-size: 60px;
      font-weight: 400;
    }
    .wrapper .dynamic-txts{
        text-transform: uppercase;
      margin-bottom: 200px;
      margin-left: auto;
      margin-right: auto;  
      text-align: center;
      height: 90px;
      line-height: 90px;
      overflow: hidden;
      width: 500px;
      border-radius: 25px;
      background-color: aliceblue;
    }
    .dynamic-txts li{
      list-style: none;
      color: #17141d;
      font-size: 60px;
      font-weight: 700;
      position: relative;
      top: 0;
      animation: slide 12s steps(4) infinite;
    }
    @keyframes slide {
      100%{
        top: -360px;
      }
    }
    .dynamic-txts li span{
      position: relative;
      margin: 5px 0;
      line-height: 90px;
    }
    .dynamic-txts li span::after{
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      height: 100%;
      width: 100%;  
      background:#fff;
      border-left: 3px solid #17141d;
      animation: typing 3s steps(10) infinite;
    }
    @keyframes typing {
      40%, 60%{
        left: calc(100% + 30px);
      }
      100%{
        left: 0;
      }
    }
    footer {
      font-size: 15px;
      padding: 100px;
      text-align: center;
    }
    